@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-repeat: no-repeat; }

.navbar {
  background-color: rgba(253, 253, 253, 0.384); }
  .navbar .navbar-nav {
    font-weight: 700; }
  .navbar .navbar-brand:hover {
    transition: all 0.2s;
    transform: scale(1.05); }

.header__logo {
  height: 2.5vh;
  width: auto;
  margin: 0 0 4px 0; }

form .btn:hover {
  transition: all 0.5s;
  background-color: #430986;
  border: solid 1px #430986; }

.bodyIndex {
  background: linear-gradient(56deg, #27046c 0%, #3b0e9c 14%, #5b26a6 32%, #8747d5 53%, #bb5fa8 70%, #d18cb9 89%, #d9cdd9 100%);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif; }

.mainIndex__titles {
  text-align: center;
  color: aliceblue;
  margin: 10rem 0 0 7vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1; }

.mainIndex__title {
  font-size: 7vw;
  font-weight: 600; }

.mainIndex__subtitle {
  font-size: 6vw;
  font-weight: 300; }

.mainIndex__slides {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainIndex__slides .mainIndex__image {
    height: auto;
    width: 70%; }

.mainIndex__info {
  width: 30vw;
  margin: 3vw 0 0 62vw; }

.mainIndex__paragraph {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  font-weight: 600;
  color: #430986;
  hyphens: auto;
  padding-bottom: 1.8rem;
  border-bottom: solid 0.8vh #430986;
  hyphens: none; }

.bodyFormacion {
  background: linear-gradient(165deg, #380a94 0%, #5b26a6 20%, #6a1cd6 34%, #8747d5 50%, #bb5fa8 70%, #d18cb9 89%, #d9cdd9 100%); }

.mainFormacion {
  display: flex;
  flex-direction: column;
  align-items: center; }

.mainFormacion__content {
  display: flex;
  align-items: flex-start;
  margin-top: 10rem; }

.mainFormacion__images {
  display: flex;
  flex-direction: column;
  margin-right: 3.5vw; }

.mainFormacion__image {
  height: auto;
  width: 38vw; }

.mainFormacion__caption {
  font-size: 1.4vw;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 1rem; }

.mainFormacion__title {
  font-size: 4vw;
  font-weight: 600;
  color: aliceblue;
  margin-bottom: 1vh; }

.mainFormacion__paragraph {
  font-size: 1.6vw;
  font-weight: 200;
  width: 38vw;
  color: white; }

.mainFormacion__timeline {
  margin-top: 10vh; }

.mainFormacion__timelineWrapper {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff; }
  .mainFormacion__timelineWrapper:hover {
    transition: all 0.5s;
    transform: scale(1.03);
    z-index: 1; }

.mainFormacion__timelineWrapper::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 61px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #430986;
  z-index: 1; }

.mainFormacion__timelineContent {
  position: relative;
  bottom: 0;
  width: 37vw;
  padding: 35px;
  background-color: white;
  border-radius: 7px; }

.mainFormacion__timelineContent::before {
  content: '';
  position: absolute;
  top: 20px;
  width: 0;
  height: 0;
  border-style: solid; }

.mainFormacion__timelineWrapper:nth-child(odd) div {
  left: 45px; }

.mainFormacion__timelineWrapper:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent white transparent transparent; }

.mainFormacion__timelineWrapper:nth-child(even) div {
  left: -39vw; }

.mainFormacion__timelineWrapper:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent white; }

.mainFormacion__timelineContent h2 {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 300;
  color: #430986;
  letter-spacing: 1px; }

.mainFormacion__timelineContent p {
  color: #430986;
  font-size: 1.5em;
  margin-top: 0.7em; }

:hover.h2--first {
  color: #c397f5;
  font-weight: 600; }

:hover.h2--second {
  color: #7a31ce;
  font-weight: 600; }

:hover.h2--third {
  color: #430986;
  font-weight: 600; }

:hover.h2--fourth {
  color: #230a4d;
  font-weight: 600; }

.bodyTrabajos {
  background-image: linear-gradient(165deg, #380a94 0%, #5b26a6 20%, #6a1cd6 34%, #8747d5 50%, #bb5fa8 70%, #d18cb9 89%, #d9cdd9 100%); }

.mainTrabajos__title {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: 600;
  color: aliceblue;
  margin: 10vh 0 0.5vh 0; }

.mainTrabajos__subtitle {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 2.2rem;
  font-weight: 300;
  color: aliceblue;
  margin-bottom: 5rem; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5rem;
  column-gap: 4rem;
  width: 90vw;
  margin: 0 auto; }
  .grid div {
    margin-left: 1.2rem; }

.grid img {
  width: 90%;
  height: auto;
  object-fit: cover; }
  .grid img:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    box-shadow: 0 3px 10px #16082c; }

.grid__title {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase; }

.grid__description {
  width: 90%;
  margin-top: 0.1rem;
  font-size: 1rem;
  font-weight: 200;
  color: white; }

.bodySobreMi {
  background-image: linear-gradient(165deg, #380a94 0%, #5b26a6 20%, #6a1cd6 34%, #8747d5 50%, #bb5fa8 70%, #d18cb9 89%, #d9cdd9 100%); }

.mainSobreMi {
  display: flex;
  flex-direction: column;
  margin: 10rem 10vw 5vw 10vw; }

.mainSobreMi__title {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: aliceblue; }

.mainSobreMi__paragraph {
  font-size: 2rem;
  font-weight: 200;
  color: white; }

.mainSobreMi__paragraph--highlight {
  display: flex;
  justify-content: end;
  text-align: right;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 7vh;
  color: white; }
  .mainSobreMi__paragraph--highlight:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    color: #430986; }

.bodyContacto {
  background-image: linear-gradient(56deg, #27046c 0%, #3b0e9c 14%, #5b26a6 32%, #8747d5 53%, #bb5fa8 70%, #d18cb9 89%, #d9cdd9 100%); }

.mainContacto {
  display: flex;
  justify-content: center;
  margin-top: 17vh; }

.mainContacto__title {
  font-size: 4vw;
  font-weight: 600;
  color: #230a4d;
  margin: 0 4vw 1rem 0; }

.mainContacto__paragraph {
  font-size: 1.7vw;
  font-weight: 200;
  color: white;
  width: 25vw;
  margin: 0 4vw 0 0; }

.mainContacto__form {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-left: 2vw; }

.mainContacto__label {
  font-size: 2vw;
  color: aliceblue;
  margin-bottom: 1rem; }

.mainContacto__input {
  height: 3rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1.8rem 2rem 1.8rem 1rem;
  font-family: "Montserrat", sans-serif; }

.mainContacto__textFill {
  height: 10rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 2.2rem;
  font-family: "Montserrat", sans-serif;
  padding: 1rem; }

.mainContacto__button {
  align-self: flex-end;
  height: 7.5vh;
  width: 20vw;
  border: 9px ridge #430986 66, 14, 163;
  border-radius: 10px;
  background-color: #230a4d;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  color: aliceblue; }

.footer__content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 25vh 5vw 4vh 5vw;
  padding: 3.2rem 0 7rem 0;
  text-align: center;
  font-size: 1.4vw;
  color: white;
  border-top: solid 2px white; }

.footer__name {
  display: flex;
  font-size: 1.5vh; }

.footer__links {
  display: flex;
  justify-content: center; }

.footer__logo {
  height: 3.5vh;
  width: auto;
  margin-left: 1vw; }
  .footer__logo:hover {
    transition: all 0.2s;
    transform: scale(1.08);
    box-shadow: 0 3px 10px #16082c; }

/*DESKTOP*/
@media screen and (max-width: 1200px) {
  /*index*/
  .mainIndex__paragraph {
    font-size: 1.3rem; }
  /*trabajos*/
  .mainTrabajos__title {
    font-size: 4rem; }
  .mainTrabajos__subtitle {
    font-size: 2rem; }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem; }
  .grid__title {
    margin-top: 1.4rem; }
  .grid__description {
    font-size: 0.9rem; }
  /*formacion*/
  .mainFormacion__timeline {
    margin: 8rem 0 5rem 0;
    width: 75vw; }
  .mainFormacion__timelineContent h2 {
    font-size: 1.2em; }
  .mainFormacion__timelineContent p {
    font-size: 1.2em; }
  .mainFormacion__timelineContent {
    width: 32vw; }
  .mainFormacion__timelineWrapper:nth-child(even) div {
    left: -35vw; } }

/*TABLET*/
@media screen and (max-width: 768px) {
  /*index*/
  .mainIndex__titles {
    margin-top: 12vh; }
  .mainIndex__paragraph {
    font-size: 0.9rem; }
  /*formacion*/
  .mainFormacion__content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 4.5rem; }
  .mainFormacion__title {
    font-size: 2rem; }
  .mainFormacion__paragraph {
    font-size: 1rem;
    width: 60vw; }
  .mainFormacion__images {
    align-self: center;
    margin-top: 7vh; }
  .mainFormacion__image {
    width: 50vw; }
  .mainFormacion__timeline {
    position: relative;
    left: -40vw; }
  .mainFormacion__timelineContent h2 {
    font-size: 1em; }
  .mainFormacion__timelineContent p {
    font-size: 1em; }
  .mainFormacion__timelineWrapper:nth-child(even) div {
    left: 45px; }
  .mainFormacion__timelineWrapper:nth-child(even) div::before {
    left: -15px;
    transform: scalex(-1); }
  .mainFormacion__timelineWrapper div {
    width: 71vw; }
  /*trabajos*/
  .mainTrabajos__title {
    font-size: 2.5rem; }
  .mainTrabajos__subtitle {
    font-size: 1.2rem;
    margin-bottom: 9vh; }
  /*sobre mi*/
  .mainSobreMi__title {
    font-size: 3rem; }
  .mainSobreMi__paragraph {
    font-size: 1.5rem; }
  .mainSobreMi__paragraph--highlight {
    font-size: 1.7rem; }
  /*contacto*/
  .mainContacto {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .mainContacto__text {
    margin: 0 0 5vh 0;
    text-align: center;
    width: 69vw; }
  .mainContacto__title {
    font-size: 2.5rem; }
  .mainContacto__paragraph {
    width: auto;
    font-size: 1.2rem; }
  .mainContacto__form {
    width: 55vw; }
  .mainContacto__label {
    font-size: 1.2rem; }
  /*footer*/
  .footer__content {
    font-size: 2vw; } }

/*MOBILE*/
@media screen and (max-width: 480px) {
  /*index*/
  .mainIndex__title {
    margin-bottom: 0;
    font-size: 8.6vw; }
  .mainIndex__subtitle {
    margin-bottom: 0;
    font-size: 8.4vw; }
  .mainIndex__info {
    margin-left: 50vw; }
  .mainIndex__paragraph {
    width: 45vw;
    font-size: 0.7rem;
    margin-top: 2.5vh;
    padding-bottom: 1em; }
  /*formacion*/
  .mainFormacion__content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 4.5rem; }
  .mainFormacion__title {
    font-size: 9vw;
    margin-bottom: 1rem; }
  .mainFormacion__paragraph {
    font-size: 4vw;
    width: 70vw;
    margin-bottom: 4rem; }
  .mainFormacion__images {
    margin: 0; }
  .mainFormacion__image {
    width: 70vw;
    height: auto; }
  .mainFormacion__caption {
    font-size: 2.5vw;
    margin-top: 0.5rem; }
  .mainFormacion__timeline {
    position: relative;
    left: -79vw; }
  .mainFormacion__timelineContent h2 {
    font-size: 0.9em; }
  .mainFormacion__timelineContent p {
    font-size: 0.8em; }
  .mainFormacion__timelineWrapper {
    width: 1%;
    margin-left: 69vw; }
  /*trabajos*/
  .mainTrabajos__title {
    font-size: 2rem; }
  .mainTrabajos__subtitle {
    font-size: 1rem;
    margin-bottom: 5vh; }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; }
  .grid img:hover {
    transform: scale(1.1); }
  .grid__description {
    font-size: 0.8rem; }
  /*sobre mi*/
  .mainSobreMi {
    margin-top: 3rem; }
  .mainSobreMi__title {
    font-size: 9vw;
    margin-top: 2rem; }
  .mainSobreMi__paragraph {
    font-size: 4.7vw;
    width: 75vw; }
  .mainSobreMi__paragraph--highlight {
    font-size: 5.2vw;
    margin-top: 3vh; }
  /*contacto*/
  .mainContacto {
    margin-top: 8vh; }
  .mainContacto__title {
    font-size: 8vw; }
  .mainContacto__paragraph {
    font-size: 4.5vw; }
  .mainContacto__form {
    width: 70vw; }
  .mainContacto__label {
    font-size: 4.2vw;
    margin-bottom: 1vh; }
  /*footer*/
  .footer__content {
    padding-bottom: 12vh;
    margin-top: 15vh; }
  .footer__content {
    font-size: 4vw; } }
