
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}


// utilización maps, extend y mixin en _mainFormacion
// utilización de map-get en _mainContacto