
.bodyTrabajos {
  background-image: $gradiente-oscuro;
}

.mainTrabajos__title {
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 600;
  color: aliceblue;
  margin: 10vh 0 0.5vh 0;
}

.mainTrabajos__subtitle {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 300;
  color: aliceblue;
  margin-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5rem;
  column-gap: 4rem;
  width: 90vw;
  margin: 0 auto;

  div {
    margin-left: 1.2rem;
  }
}

.grid img {
  width: 90%;
  height: auto;
  object-fit: cover;
  &:hover {
    transition: all 1.5s;
    transform: scale(1.3);
    box-shadow: $sombra;
  }
}

.grid__title {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
}

.grid__description {
  width: 90%;
  margin-top: 0.1rem;
  font-size: 1rem;
  font-weight: 200;
  color: white;
}
