.bodyFormacion{
    background-image: url("../img/gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .mainFormacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        .mainFormacion__content {
            display: flex;
            align-items: flex-start;
            margin-top: 10rem;
            .mainFormacion__images {
                display: flex;
                flex-direction: column;
                margin-right: 3.5vw;
                
                .mainFormacion__image {
                    height: auto;
                    width: 38vw;
                }
                
                .mainFormacion__caption {
                    font-size: 1.4vw;
                    font-weight: 300;
                    color: white;
                    text-align: center;
                    margin-top: 1rem;
                }  
            }
            .mainFormacion__title {
                font-size: 4vw;
                font-weight: 600;
                color: aliceblue;
                margin-bottom: 1vh;
            }
            .mainFormacion__paragraph {
                font-size: 1.6vw;
                font-weight: 200;
                width: 38vw;
                color: white;
            }
        }
        .mainFormacion__timeline {
            margin: 12vh 0 0 0;
            width: 78vw;
            height: auto;
        }
        .mainFormacion__timelineResponsive {
            display: none;
        }
    }
    



}