
$violeta-claro: #722cc2;
$violeta: #480892;
$violeta-oscuro: #16082c;
$transparencia: #cad2c562;
$sombra: 0 3px 10px #16082c;
$gradiente-oscuro: url("../img/gradient.jpg"); 
$gradiente-claro: url("../img/gradient2.jpg"); 

